<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <svg width="24" height="24" viewBox="0 0 24 24" class="hamburger-icon">
                    <path class="line line-1" d="M3 7h18"></path>
                    <path class="line line-2" d="M3 12h18"></path>
                    <path class="line line-3" d="M3 17h18"></path>
                </svg>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#inicio">
                            <span class="nav-text">Inicio</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#experiencia">
                            <span class="nav-text">Experiencia</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#proyectos">
                            <span class="nav-text">Proyectos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sobre-mi">
                            <span class="nav-text">Sobre mí</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#educacion">
                            <span class="nav-text">Educación</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#certificados">
                            <span class="nav-text">Certificados</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="mailto:juans.quintoh@hotmail.com">
                            <span class="nav-text">Contacto</span>
                        </a>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand brand-logo" href="#inicio">
                <div class="logo-container">
                    <span class="logo-bracket logo-left">&lt;</span>
                    <span class="logo-text">JuanseDev</span>
                    <span class="logo-bracket logo-right">/&gt;</span>
                </div>
            </a>
        </div>
    </nav>
</header>